.tip {
    float: left;
    position: fixed;
    left: 5px;
    top: 504px;
    width: 50px;
    height: 50px;
    z-index: 99999999999;
    cursor: pointer;
    background-color: rgb(196, 195, 196);
    border-radius: 10%;
}

.tip img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
}

.modal {
    display: none;
    float: left;
    position: absolute;
    min-width: 20px;
    min-height: 10px;
    z-index: 99999999999;
    resize: both;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* 白色半透明 */
    /* backdrop-filter: blur(50px); */
    /* 磨砂效果 */
    border-radius: 10px;
    border: 2px solid;
}

.move {
    cursor: move;
    width: 100%;
    height: 100%;
}

.modal::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 20px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 20px;
}

.modal::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    background: #ffffff;
    box-shadow: inset 0 0 5px rgb(0, 0, 0);
}

.modal::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #ffffff;
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .1);
}